@using AsoiafWikiDb.Models
@model AsoiafWikiDb.Models.CategoryIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (string.IsNullOrEmpty(Model.ChartType))
{<h2>@Model.Categories.Count() categories found</h2>

    <table class="table">
        <thead>
            <tr>
                <td>Category</td>
                <td>Size</td>
                <td>Pages</td>
                <td>Files</td>
                <td>Hide</td>
                <td>subcats</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>
                        <a href="@category.info.value.ToWikiPageUri()">@category.info.value</a>
                    </td>
                    <td>@category.info.size</td>
                    <td>@category.info.pages</td>
                    <td>@category.info.files</td>
                    <td>@category.info.hidden</td>
                    <td>
                        @if (category.subCategories != null)
                        {
                            foreach (var subCategory in category.subCategories)
                            {
                                <a href="@subCategory.title.ToWikiPageUri()">@subCategory.title.ToCategoryTitleWithoutPrefix()</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    var myChart = new Chart(width: 800, height: 600)
        .AddTitle("Chart Title")
        .AddSeries(
            name: "Default", chartType: Model.ChartType,
            xValue: Model.Categories.Select(c => c.info.value).ToList(),
            yValues: Model.Categories.Select(c => c.info.pages).ToList())
        .AddLegend()
        .Write();
}